@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --natural : #515B6F;
  --natural100 : #25324B;
  --brand : #4640DE;
  --light-gray : #F8F8FD;
  --accents-blue: #26A4FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-natural: var(--natural); 
  --color-natural100: var(--natural100); 
  --color-accents-blue: var(--accents-blue);
  --font-epilogue: var(--font-epilogue);
  --font-clash-display: var(--font-clash-display);
  --color-brand: var(--brand);
  --color-light-gray: var(--light-gray);;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
}
